<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <!-- 반응형 bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- 로고 연결 -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/JHSUSTAIN_LOGO.png" />
    <link rel="shortcut icon" type="image/png" href="/images/logo/JHSUSTAIN_LOGO.png" sizes="192x192"/>

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/navigation.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <script>
        (function($) { // Begin jQuery
            $(function() { // DOM ready
                // If a link has a dropdown, add sub menu toggle.
                $('nav ul li a:not(:only-child)').click(function(e) {
                    $(this).siblings('.nav-dropdown').toggle();
                    // Close one dropdown when selecting another
                    $('.nav-dropdown').not($(this).siblings()).hide();
                    e.stopPropagation();
                });
                // Clicking away from dropdown will remove the dropdown class
                $('html').click(function() {
                    $('.nav-dropdown').hide();
                });
                // Toggle open and close nav styles on click
                $('#nav-toggle').click(function() {
                    $('nav ul').slideToggle();
                });
                // Hamburger to X toggle
                $('#nav-toggle').on('click', function() {
                    this.classList.toggle('active');
                });
            }); // end DOM ready
        })(jQuery); // end jQuery
    </script>
</head>
<body>

<!-- HEADER -->
<header>
  <div class="header">
      <button class="login">Administrator Login</button>
  </div>

  <!-- NAVIGATION BAR -->
  <section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="/">
                <img src="/images/logo/JHSUSTAIN_FULL_LOGO.png" class="nav_logo" />
            </a>
        </div>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="/Our-Team">Our Team</a>
                </li>
                <li>
                    <a href="#!">Our Work</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="/Our-Services">Our Services</a>
                        </li>
                        <li>
                            <a href="/Past-Ongoing-Projects">Past & Ongoing Projects</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!">In the News</a>
                </li>
                <li>
                    <a href="#!" style="padding-right: 0;">Work with Us</a>
                </li>
            </ul>
        </nav>
    </div>
  </section>
</header>

<div style="position: relative;">
    <!-- BANNER -->
    <div class="banner">
        <div class="banner_text">
            <!-- WELCOME -->
            <div class="banner_greeting">
                Welcome to JH SUSTAIN
            </div>
            <!-- MESSAGE -->
            <div class="banner_message">
                Share good impacts, towards sustainability
            </div>
        </div>
    </div>

    <!-- BANNER CONTENT -->
    <div class="mobile_banner_content">
        <div class="mobile_banner_letter">
            <div class="mobile_banner_left_letter">
                Our team members are professional in the water risk management field.
            </div>

            <div class="mobile_banner_right_letter">
                JHSUSTAIN is an international development consulting firm drawing
                on the broad experience of a wide range of associated professionals
                and organizations. We and associates come from the globe with
                good knowledge of the requirements of community, business, and
                government partners in the context of international development.
            </div>
        </div>
    </div>
</div>

<div style="position: relative;">
    <!-- BANNER -->
    <div class="mobile_banner">
    <div class="mobile_banner_text">
        <!-- WELCOME -->
        <div class="mobile_banner_greeting">
            Welcome to JH SUSTAIN
        </div>
        <!-- MESSAGE -->
        <div class="mobile_banner_message">
            Share good impacts, towards sustainability
        </div>
    </div>
</div>

    <!-- BANNER CONTENT -->
    <div class="banner_content">
        <div class="banner_letter">
            <div class="banner_left_letter">
                Our team members are professional in the water risk management field.
            </div>

            <div class="banner_right_letter">
                JHSUSTAIN is an international development consulting firm drawing
                on the broad experience of a wide range of associated professionals
                and organizations. We and associates come from the globe with
                good knowledge of the requirements of community, business, and
                government partners in the context of international development.
            </div>
        </div>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="main_contents">
    <div class="main_content">
        <!-- MISSION AND VISION -->
        <div class="mission">
            <!-- TEXT -->
            <div class="mission_text">
                <p class="mission_title">Mission and Vision Statements</p>

                <p class="mission_sub_title">JHSUSTAIN's sustainability practice truly supports the globe based on its pioneering work.</p>

                <p class="mission_content">
                    Our mission is to make meaningful impacts for global society, share inclusive sustainable development practices and enhance our global capacity for climate change adaptation. We will achieve this through active participation in the advocacy, planning and implementation of international development programs with developing countries whilst building partnerships with international stakeholders within the water, climate change and environment sectors.
                </p>
            </div>

            <!-- IMAGES -->
            <div class="mission_images">
                <div class="mission_image" style="background: url('<%= mission_images[0] %>')">
                    <p>
                        Creation of work area in climate change
                    </p>
                </div>
                <div class="mission_image" style="background: url('<%= mission_images[1] %>')">
                    <p>
                        Advancement of quality in develop program planning
                    </p>
                </div>
                <div class="mission_image" style="background: url('<%= mission_images[2] %>')">
                    <p style="width: 245px;">
                        Program implementation based on diverse partnership
                    </p>
                </div>
                <div class="mission_image" style="background: url('<%= mission_images[3] %>')">
                    <p>
                        Paradigm shift of development projects
                    </p>
                </div>
            </div>

            <!-- SUSTAIN -->
            <div class="vision">
                <!-- S -->
                <span class="vision_text">
                <span>S</span>hepherd for
            </span>
                <!-- U -->
                <span class="vision_text">
                <span>U</span>niverse by
            </span>
                <!-- S -->
                <span class="vision_text">
                Paradigm <span>S</span>hift
            </span>
                <!-- T -->
                <span class="vision_text">
                <span>T</span>hrough
            </span>
                <!-- A -->
                <span class="vision_text">
                <span>A</span>dept
            </span>
                <!-- I -->
                <span class="vision_text">
                <span>I</span>ntelligence
            </span>
                <!-- N -->
                <span class="vision_text">
                <span>N</span>exus
            </span>
            </div>
        </div>

        <!-- PAST PROJECTS WIDGET -->
        <div class="projects">
            <p>
                Widget with Past Projects
            </p>

            <div class="contents">
                <div class="contents_box">
                    <div class="arrows">
                        <img src="images/MAIN_LEFT_ARROW.png" />
                    </div>

                    <div class="content">
                        <div class="project_image">
                            <!-- 여기에 이미지 넣기 -->
                        </div>

                        <div class="text_box">
                            <div>
                                <div class="title">
                                    Climate Resilience Flood Management through Ecosystem-based Adaptation
                                </div>

                                <div class="summary">
                                    JHSUSTAIN is working in partnership with the Korea Institute of Civil Engineering and Construction Technology (KICT) to build the resilience of Leyte’s most exposed municipalities and promote a paradigm shift in....
                                </div>
                            </div>

                            <div class="bottom">
                                <button>
                                    Read more <img src="images/button_arrow.png">
                                </button>

                                <div style="width: 162px; height: 70px; color: #7B7B7B; font-size: 16px; font-weight: 500; line-height: 19.2px; padding-right: 29px; padding-top: 23.2px;">
                                    January 16, 2020
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="arrows">
                        <img src="images/MAIN_RIGHT_ARROW.png" />
                    </div>
                </div>

                <div class="progress_bar">
                    <div class="bar" style="background-color: #184C4E;">
                    </div>
                    <div class="bar">
                    </div>
                    <div class="bar">
                    </div>
                    <div class="bar">
                    </div>
                </div>
            </div>
        </div>

        <!-- NEWS WIDGET -->
        <div class="news">
            <!-- TITLE -->
            <p>
                News Widget
            </p>

            <!-- NEWS CONTENT -->
            <div class="box">
                <div class="content">
                    <div class="text">
                        <div>
                            <div class="title">
                                Korea-ASEAN Summit & Korea-Mekong Summit
                            </div>
                            <div class="summary">
                                The “Korea-ASEAN Summit” and the 1st “Korea-Mekong Summit” were held on the 25th – 27th in Busan....
                            </div>
                        </div>
                        <div class="news_date">
                            January 17, 2020
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="text">
                        <div>
                            <div class="title">
                                Korea-ASEAN Summit & Korea-Mekong Summit
                            </div>
                            <div class="summary">
                                The “Korea-ASEAN Summit” and the 1st “Korea-Mekong Summit” were held on the 25th – 27th in Busan....
                            </div>
                        </div>
                        <div class="news_date">
                            January 17, 2020
                        </div>
                    </div>
                </div>
            </div>

            <!-- BUTTON -->
            <div class="button">
                <button>
                    See all News <img src="images/button_arrow.png">
                </button>
            </div>

        </div>
    </div>
</div>

<div class="mobile_main_contents">
    <div class="mobile_main_content">
        <!-- MISSION AND VISION -->
        <div class="mobile_mission">
            <div style="width: 688px;">
                <!-- TEXT -->
                <div class="mission_text_mobile">
                    <p class="mission_title_mobile">Mission and Vision Statements</p>

                    <p class="mission_sub_title_mobile">JHSUSTAIN's sustainability practice truly supports the globe based on its pioneering work.</p>

                    <p class="mission_content_mobile">
                        Our mission is to make meaningful impacts for global society, share inclusive sustainable development practices and enhance our global capacity for climate change adaptation. We will achieve this through active participation in the advocacy, planning and implementation of international development programs with developing countries whilst building partnerships with international stakeholders within the water, climate change and environment sectors.
                    </p>
                </div>

                <!-- IMAGES -->
                <div class="mission_images_mobile">
                    <div class="mission_image_mobile" style="background: url('<%= mobile_mission_images[0] %>');">
                        <p>
                            Creation of work area in climate change
                        </p>
                    </div>
                    <div class="mission_image_mobile" style="background: url('<%= mobile_mission_images[1] %>');">
                        <p>
                            Advancement<br/> of quality in develop program planning
                        </p>
                    </div>
                    <div class="mission_image_mobile" style="background: url('<%= mobile_mission_images[2] %>');">
                        <p style="width: 273px;">
                            Program implementation based on diverse partnership
                        </p>
                    </div>
                    <div class="mission_image_mobile" style="background: url('<%= mobile_mission_images[3] %>');">
                        <p>
                            Paradigm shift of development projects
                        </p>
                    </div>
                </div>
            </div>

            <!-- SUSTAIN -->
            <div class="vision_mobile">
                <div class="vision_texts_mobile">
                    <!-- S -->
                    <span class="vision_text_mobile">
                        <span>S</span>hepherd for
                    </span>
                    <!-- U -->
                    <span class="vision_text_mobile">
                        <span>U</span>niverse by
                    </span>
                    <!-- S -->
                    <span class="vision_text_mobile">
                        Paradigm <span>S</span>hift
                    </span>
                </div>
                <div class="vision_texts_mobile">
                    <!-- T -->
                    <span class="vision_text_mobile">
                        <span>T</span>hrough
                    </span>
                    <!-- A -->
                    <span class="vision_text_mobile">
                        <span>A</span>dept
                    </span>
                    <!-- I -->
                    <span class="vision_text_mobile">
                        <span>I</span>ntelligence
                    </span>
                    <!-- N -->
                    <span class="vision_text_mobile">
                        <span>N</span>exus
                    </span>
                </div>
            </div>
        </div>

        <!-- PAST PROJECTS WIDGET -->
        <div class="projects_mobile">
            <p>
                Widget with Past Projects
            </p>

            <div class="contents_mobile">
                <div class="contents_box_mobile">
                    <div class="arrows_mobile">
                        <img src="images/MAIN_LEFT_ARROW.png" />
                    </div>

                    <div class="content_mobile">
                        <div class="project_image_mobile">
                            <!-- 여기에 이미지 넣기 -->
                        </div>

                        <div class="text_box_mobile">
                            <div>
                                <div class="title_mobile">
                                    Climate Resilience Flood Management through Ecosystem-based Adaptation
                                </div>

                                <div class="summary_mobile">
                                    JHSUSTAIN is working in partnership with the Korea Institute of Civil Engineering and Construction Technology (KICT) to build the resilience of Leyte’s most exposed municipalities and promote a paradigm shift in....
                                </div>
                            </div>

                            <div class="bottom_mobile">
                                <button>
                                    Read more <img src="images/button_arrow.png">
                                </button>

                                <div class="project_date_mobile">
                                    January 16, 2020
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="arrows_mobile">
                        <img src="images/MAIN_RIGHT_ARROW.png" />
                    </div>
                </div>

                <div class="progress_bar_mobile">
                    <div class="bar_mobile" style="background-color: #184C4E">
                    </div>
                    <div class="bar_mobile">
                    </div>
                    <div class="bar_mobile">
                    </div>
                    <div class="bar_mobile">
                    </div>
                </div>
            </div>
        </div>

        <!-- NEWS WIDGET -->
        <div class="news_mobile">
            <!-- TITLE -->
            <p>
                News Widget
            </p>

            <!-- NEWS CONTENT -->
            <div class="box">
                <div class="content">
                    <div class="text">
                        <div>
                            <div class="title">
                                Korea-ASEAN Summit & Korea-Mekong Summit
                            </div>
                            <div class="summary">
                                The “Korea-ASEAN Summit” and the 1st “Korea-Mekong Summit” were held on the 25th – 27th in Busan....
                            </div>
                        </div>
                        <div class="news_date">
                            January 17, 2020
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="text">
                        <div>
                            <div class="title">
                                Korea-ASEAN Summit & Korea-Mekong Summit
                            </div>
                            <div class="summary">
                                The “Korea-ASEAN Summit” and the 1st “Korea-Mekong Summit” were held on the 25th – 27th in Busan....
                            </div>
                        </div>
                        <div class="news_date">
                            January 17, 2020
                        </div>
                    </div>
                </div>
            </div>

            <!-- BUTTON -->
            <div class="button">
                <button>
                    See all News <img src="images/button_arrow.png">
                </button>
            </div>

        </div>
    </div>
</div>

<!-- FOOTER -->
<!--<footer style="width: 100%; height: 300px; background-color: #184C4E">-->
<!--        <div style="width: 1180px; margin-left: 370px; display: flex; align-items: center">-->
<!--        &lt;!&ndash; TODO: 로고 -480px-> 글씨 &ndash;&gt;-->
<!--            &lt;!&ndash; LOGO &ndash;&gt;-->
<!--            <div style="display: flex; flex-direction: column; width: 202px;">-->
<!--                <img src="/images/logo/JHSUSTAIN_WHITE_LOGO.png" class="footer_logo_image">-->
<!--                <img src="/images/logo/JHSUSTAIN_WHITE_COMPANY_LOGO.png" class="footer_logo_letter">-->
<!--            </div>-->

<!--            &lt;!&ndash; PAGES  &ndash;&gt;-->
<!--            &lt;!&ndash; TODO: 위치 맞추기..... &ndash;&gt;-->
<!--            <div style="display: flex; flex-direction: column; padding-left: 478px;">-->
<!--                <ul style="list-style: none;">-->
<!--                    <li style="color: white; font-size: 20px; font-weight: bold; padding-bottom: .2rem;">-->
<!--                        <a href="#" style="color: white">Our Team</a>-->
<!--                    </li>-->
<!--                    <li style="color: white; font-size: 20px; font-weight: bold; padding-bottom: .2rem;">-->
<!--                        <a href="#" style="color: white">Our Work</a>-->
<!--                    </li>-->
<!--                    <li style="color: white; font-size: 20px; font-weight: bold; padding-bottom: .2rem;">-->
<!--                        <a href="#" style="color: white">In the News</a>-->
<!--                    </li>-->
<!--                    <li style="color: white; font-size: 20px; font-weight: bold; padding-bottom: .2rem;">-->
<!--                        <a href="#" style="color: white">Work with Us</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->

<!--            &lt;!&ndash; CONNECT &ndash;&gt;-->
<!--            <div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->



  <!-- 이미지 넘기는 부분 -->
<!--  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">-->
<!--    <ol class="carousel-indicators">-->
<!--      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--    </ol>-->
<!--    <div class="carousel-inner">-->
<!--      <div class="carousel-item active">-->
<!--        <img class="d-block w-100" src="https://i.postimg.cc/bNQp0RDW/1.jpg" alt="First slide">-->
<!--        <div class="carousel-caption d-none d-md-block">-->
<!--          <h5>Slider One Item</h5>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, tempore. Deserunt excepturi quas vero.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img class="d-block w-100" src="https://i.postimg.cc/pVzg3LWn/2.jpg" alt="Second slide">-->
<!--        <div class="carousel-caption d-none d-md-block">-->
<!--          <h5>Slider One Item</h5>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, tempore. Deserunt excepturi quas vero.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img class="d-block w-100" src="https://i.postimg.cc/0y2F6Gpp/3.jpg" alt="Third slide">-->
<!--        <div class="carousel-caption d-none d-md-block">-->
<!--          <h5>Slider One Item</h5>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, tempore. Deserunt excepturi quas vero.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Previous</span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
<!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Next</span>-->
<!--    </a>-->
<!--  </div>-->

</body>
</html>
